<div class="datosContainer">
    @if (isLoading()){
    <div class="loadingData">
        <p>Charging data...</p>
    </div>
    }

    @else if (posts()) {
    <div class="pokemon-data-container">
        <p class="description"><strong>Descripción:</strong> {{ posts()?.description }}</p>

        <div class="bio">
            <p><strong>Altura:</strong> {{ (posts()?.height || 0) / 10 }} m</p>
            <p><strong>Peso:</strong> {{ (posts()?.weight || 0) / 10 }} kg</p>
            <p><strong>Género:</strong> {{ posts()?.genderRateText }}</p>
        </div>

        <div class="audio-cry">
            <p><strong>Grito:</strong></p>
            <audio controls [src]="posts()?.cries?.latest"></audio>
        </div>

            <h3>Habilidades</h3>
    <ul>
      @for (a of posts()?.abilities; track a.slot) {
      <li>
        {{ a.ability.name }} @if (a.is_hidden) { <em>(Oculta)</em> }
      </li>
      }
    </ul>

    <h3>Estadísticas Base</h3>
    <div class="stats">
      @for (s of posts()?.stats; track s.stat.name) {
      <div class="stat-row">
        <span>{{ s.stat.name }}:</span>
        <strong>{{ s.base_stat }}</strong>
      </div>
      }
    </div>
    
    </div>
    }
</div>