<div class="pokemon-div">

  @if (isLoading()) {
  <div class="loading">
    <p>Cargando los datos del Pokémon...</p>
  </div>
  }

  @else if (posts()) {
  <div class="pokemon-container">
    <div class="pokemon-imagen">
      <img [src]="posts()?.sprites?.other?.home?.front_default" [alt]="posts()?.name" class="img3d">
    </div>

    <div class="pokemonInfo">
      <h1 class="idName">{{ posts()?.id }} - {{ posts()?.name }}</h1>

    <div class="types-list">
      @for (t of posts()?.types; track t.slot) {
      <div class="type-badge">
        @if (t?.type?.name) {
        <div class="type-icon">
          <img [src]="'assets/icons/typeIcons/' + t.type.name + '.ico'" [alt]="t.type.name">
        </div>
        }
      </div>
      }
    </div>
    </div>

  </div>
  }
</div>