.body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dex{
  border: 4px solid #000000;
  border-radius: 12px;
  padding: 1.5rem;
  box-sizing: border-box;
  background-color: #ffffff;

  /* Añade esto para que herede el comportamiento del cuadro central */
  max-width: 70%;
  height: 40rem;
  display: flex;         /* Por si quieres alinear tus dos componentes dentro */
  flex-direction: row; /* Coloca app-pokemon arriba y app-poke-datos abajo */
  gap: 1rem;
}


